
<%= form_for @image, :html => {:multipart => true} do |f| %>
<div class="wrapper">
    <div class="file-field input-field">
      <div class="btn">
        <span>Imagen:</span>
	<%= f.file_field :image %>

      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>

</div>

  <p><%= f.submit " Subir Imagen", class: "btn-large waves-effect waves-light", id: "subirIM"  %></p>
<% end %>

